/* .large-text {
  max-width: 100%;
  align-items: center;
  text-align: center;
  margin: 5rem;
}

.large-text p {
  margin-bottom: 2rem;
  color: #c79447;

  font-family: 'Sen', sans-serif;
}

.large-text h1 {
  margin: auto 5rem;

  font-family: 'Sorts Mill Goudy', serif;
  font-size: 2.5rem;
  font-weight: 300;
  font-style: italic;
} */

/* Existing Styles */
.large-text {
  max-width: 100%;
  align-items: center;
  text-align: center;
  margin: 5rem;
}

.large-text p {
  margin-bottom: 2rem;
  color: #c79447;
  font-family: 'Sen', sans-serif;
}

.large-text h1 {
  margin: auto 5rem;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 2.5rem;
  font-weight: 300;
  font-style: italic;
}

/* Responsive Styles for Tablet Devices */
@media screen and (max-width: 1024px) {
  .large-text {
    margin: 3rem; /* Reduced margin */
  }

  .large-text p {
    font-size: 1.2rem; /* Adjusted font size */
  }

  .large-text h1 {
    margin: auto 2rem;
    font-size: 2rem; /* Adjusted font size */
  }
}

/* Responsive Styles for Mobile Devices */
@media screen and (max-width: 768px) {
  .large-text {
    margin: 2rem; /* Further reduced margin */
  }

  .large-text p {
    font-size: 1rem; /* Further adjusted font size */
  }

  .large-text h1 {
    margin: auto 1rem;
    font-size: 1.5rem; /* Further adjusted font size */
  }
}
