.about__container {
  display: flex;
  /* justify-content: space-between; */

  height: 70vh;
  width: 80%;

  margin: auto;
  border-color: #f6f4f5;
}

.about__image img {
  height: 22em;
}

.about__content {
  max-width: 40%;
  margin-left: 6em;
  /* background-color: red; */
}

.about__header {
  font-size: 3rem;
  font-family: var(--header-font);
}
