.about {
  box-sizing: border-box;
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70vh;
  width: 80%;
  margin: 0 auto;
  padding: 1.5em;
}

.about__image img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.about__image img:hover {
  transform: scale(1.05);
}

.about__content {
  max-width: 50%;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__header {
  font-size: 2.5rem;
  margin-bottom: 1em;
}

.about__subheader {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1em;
}

/* Tablet Devices */
@media screen and (max-width: 768px) {
  .about__container {
    flex-direction: column;
    height: auto;
    padding: 1em;
  }

  .about__content {
    max-width: 100%;
    margin-left: 0;
    padding-top: 1em;
  }

  .about__header {
    font-size: 2rem;
  }

  .about__subheader {
    font-size: 0.95rem;
  }

  .button-gold {
    padding: 10px 20px;
    margin: 50px 0 0 0;
  }
}

/* Mobile Devices */
@media screen and (max-width: 480px) {
  .about__container {
    padding: 0.75em;
  }

  .about__header {
    font-size: 1.75rem;
  }

  .about__subheader {
    font-size: 0.9rem;
  }

  .button-gold {
    padding: 10px 20px;
    font-size: 0.9rem;
    margin: 50px 0 0 0;
  }
}
