.about__container {
  display: flex;
  justify-content: space-between;

  background-color: #f6f6f4;
}

.section__header {
  font-family: "Sorts Mill Goudy", serif;

  font-size: 10em;

  /* text-align: left; */
  /* margin-left: auto; */
  padding: 0 !important;
}

.section__subheader {
  width: 60%;
  margin-right: auto !important;
  font-family: var(--header-font);
}

/* .about__container :is(.section__header, .section__subheader) {
  text-align: left;
} */

.about__content {
}

.about__content p {
  margin-bottom: 1.5rem;
  /* to fix */
  font-family: "Sen", sans-serif !important;
}

.about__image img {
  max-width: 450px;
  /* margin-left: 30%; */
  /* align-items: center; */
}
