.discover__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.discover__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.discover__header > h1 {
  font-size: 2.5rem;
  font-family: var(--header-font);
  margin-bottom: 0.5em;
}

.discover__card-container {
  margin: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .discover__header > h1 {
    font-size: 2rem;
  }

  .discover__card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .discover__header > h1 {
    font-size: 1.5rem;
  }

  .discover__card-container {
    grid-template-columns: 1fr;
  }

  .discover__card {
    max-width: 90%;
  }
}
