nav {
  margin: auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav__logo {
  font-size: 1.5rem;
  font-family: var(--header-font);
  color: white;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  transition: transform 1s ease; /* Added transition for both opening and closing */
}

.nav__link {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.nav__link:hover {
  color: var(--highlight-color);
}

.nav__hamburger,
.nav__close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.hamburger-icon {
  color: white;
}

@media screen and (max-width: 768px) {
  .nav__hamburger {
    display: block;
  }

  .nav__links {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-100%);
  }

  .nav__links.expanded {
    transform: translateY(0);
  }

  .nav__links.expanded .nav__link {
    color: black;
    margin: 1em;
  }

  .nav__close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .nav__logo {
    font-size: 1.2rem;
    padding-left: 1rem;
  }

  .nav__link {
    font-size: 1rem;
    padding: 1rem;
  }
}
