:root {
  --primary-color: black;
  --primary-color-light: #f6f4f5;
  --secondary-color: #c79447;
  --white: #ffffff;
  --header-font: 'Sorts Mill Goudy', serif;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

html,
body {
  scroll-behavior: smooth;
  font-family: 'Sen', sans-serif;
}
