:root {
  --primary-color: black;
  --primary-color-light: #f6f4f5;
  --secondary-color: #c79447;
  --white: #ffffff;
  --header-font: 'Sorts Mill Goudy', serif;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

html,
body {
  scroll-behavior: smooth;
  font-family: 'Sen', sans-serif;
}

/* Section */
.section__container {
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-family: var(--header-font);
  text-align: center;
}

.section__subheader {
  margin: auto;
}

/* Button */
.button-gold {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #ffffff;
  background-color: #c79447;
  cursor: pointer;
  border-radius: 0.5rem;
}
